<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Auto Testing Labs 6-9" verbose="1">
    <!-- API tests run everywhere -->
    <test name="Lab 9 - API Tests">
        <packages>
            <package name="com.stv.api.tests"/>
        </packages>
    </test>
</suite>
